absl-py @ file:///tmp/build/80754af9/absl-py_1615411205513/work
alabaster==0.7.12
apex==0.1
appdirs==1.4.4
argon2-cffi==20.1.0
asn1crypto==1.3.0
astor==0.8.0
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
Babel==2.9.1
backcall==0.1.0
bcblib==0.2.9
bleach==3.3.0
blinker==1.4
bokeh==2.1.1
boto3==1.17.40
botocore==1.20.40
cachetools==3.1.1
certifi==2021.5.30
cffi==1.14.0
chardet==3.0.4
ci-info==0.2.0
click @ file:///tmp/build/80754af9/click_1621604852318/work
cloudpickle==1.6.0
coverage @ file:///tmp/build/80754af9/coverage_1614614864940/work
cryptography==2.8
ctk-cli==1.5
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy_1593104257702/work
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1618432038002/work
dask==2021.3.1
data-identification @ file:///mnt/wwn-0x5000c500cc8a8151/Chris_Dcm2NIfti/data-identification-and-curation-dev%20%282%29
dataclasses==0.6
decorator==4.4.1
defusedxml==0.7.1
Deprecated==1.2.12
dill==0.3.3
diskcache==5.2.1
distributed==2021.3.1
docker==4.4.4
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
etelemetry==0.2.1
faster-than-walk==0.9.5
fastrlock==0.5
filelock==3.0.12
Flask==2.0.0
flatbuffers==1.12
focal-loss==0.0.7
fsspec==0.8.7
future==0.18.2
gast==0.3.3
GDAL==3.3.0
girder-client==3.1.3
girder-slicer-cli-web==1.2.0
Glymur==0.9.3
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.51.0
graphviz==0.14.2
greenlet==1.0.0
grpcio @ file:///tmp/build/80754af9/grpcio_1614883945333/work
gunicorn==19.7.1
gym==0.17.2
gym-minigrid==1.0.1
h5py==2.10.0
HeapDict==1.0.1
heatmapz==0.0.4
histolab==0.2.5
histomicstk==1.1.0
humanize==2.5.0
idna==2.9
imagecodecs==2021.2.26
imageio==2.9.0
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1617877314848/work
importlib-resources==2.0.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==2.0.0
jedi==0.16.0
Jinja2==3.0.0
jmespath==0.10.0
joblib==0.14.1
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.6.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.1.0
large-image==1.4.3
large-image-source-bioformats==1.4.3
large-image-source-dummy==1.4.3
large-image-source-gdal==1.4.3
large-image-source-mapnik==1.4.3
large-image-source-nd2==1.4.3
large-image-source-ometiff==1.4.3
large-image-source-openjpeg==1.4.3
large-image-source-openslide==1.4.3
large-image-source-pil==1.4.3
large-image-source-test==1.4.3
large-image-source-tiff==1.4.3
latextable==0.1.1
libtiff==0.5.0
llvmlite==0.36.0
locket==0.2.1
lxml==4.5.1
mapnik==4.0.0
Markdown==3.1.1
markdown-it-py==1.1.0
MarkupSafe==2.0.0
matplotlib==3.1.3
mdit-py-plugins==0.2.8
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
monai==0.6.0
msgpack==1.0.2
multiprocess==0.70.11.1
myst-parser==0.15.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nd2reader==3.2.3
nest-asyncio==1.5.1
networkx==2.4
nibabel==3.1.0
nilearn==0.6.2
nimfa==1.4.0
nimporter==1.0.4
nipype==1.5.0
notebook==6.4.0
numba==0.53.1
numexpr==2.7.1
numpy==1.19.2
numpyencoder==0.3.0
oauthlib==3.1.0
olefile==0.46
opencv-python-headless==4.5.1.48
openpyxl==3.0.7
openslide-python==1.1.2
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging==20.3
palettable==3.3.0
pandas==1.0.2
pandocfilters==1.4.3
parameterized==0.7.4
parso==0.6.1
partd==1.1.0
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1617386154241/work
PIMS==0.5
pkgconfig==1.5.2
plotly==4.14.3
progressbar2==3.53.1
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.11.4
prov==1.5.3
psutil==5.7.0
psycopg2==2.7.7
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pydicom==2.0.0
pydot==1.4.1
pydotplus==2.0.2
pyglet==1.5.0
Pygments==2.5.2
PyJWT==1.7.1
pynndescent==0.5.5
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyproj==3.0.1
pyrsistent==0.17.3
PySocks==1.7.1
python-bioformats==4.0.4
python-dateutil==2.8.1
Python-Deprecated==1.1.0
python-javabridge==4.0.3
python-utils==2.5.6
python-version==0.0.2
pytz==2019.3
pyvips==2.1.15
PyWavelets==1.1.1
pyxlsb==1.0.8
pyxnat==1.4
PyYAML==5.3
pyzmq==18.1.1
qtconsole==5.1.1
QtPy==1.9.0
rdflib==5.0.0
reportlab==3.5.68
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.0
s3transfer==0.3.6
scikit-image==0.17.2
scikit-learn==0.22.1
scikit-multilearn==0.2.0
scipy @ file:///tmp/build/80754af9/scipy_1614022789548/work
scraperapi-sdk==0.2.2
seaborn==0.11.0
Send2Trash==1.7.1
Shapely==1.7.1
SimpleITK==1.2.4
simplejson==3.17.0
six @ file:///tmp/build/80754af9/six_1605205313296/work
sklearn==0.0
slicerator==1.0.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
Sphinx==4.0.2
sphinx-autorun==1.1.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.3
tables==3.6.1
tblib==1.7.0
tensorboard @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_baze37/tensorboard_1622025863084/work/tensorboard-2.5.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1592816951245/work/tensorboard_plugin_wit-1.6.0.post3-py3-none-any.whl
tensorflow==2.4.1
tensorflow-addons==0.10.0
tensorflow-datasets==3.1.0
tensorflow-estimator @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_baze37/tensorflow-estimator_1622026529081/work/tensorflow_estimator-2.5.0-py2.py3-none-any.whl
tensorflow-gpu==2.4.1
tensorflow-metadata==0.22.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
texttable==1.6.3
tifffile==2021.3.17
tifftools==1.2.2
toolz==0.11.1
torch==1.9.0
torchaudio==0.9.0
torchfile==0.1.0
torchio==0.18.33
torchvision==0.10.0
tornado==6.1
tqdm==4.43.0
traitlets==5.0.5
traits==6.1.0
typeguard==2.7.1
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
umap-learn==0.5.2
urllib3==1.25.8
visdom==0.1.8.9
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==2.0.0
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
xmltodict==0.12.0
xnat==0.3.26
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
